<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Please Rate your service</title>

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link
    rel="shortcut icon"
    href=""
    type="image/x-icon"
  />
  </head>
  <body>
    <div class="container">
      <img src="../static/images/logo.png" class="logo" alt="sakration" />
      <!-- the following message is a template para send from the rendering method to this page-->
      {% if message %}
      <!-- the safe is for the security of the message value -->
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="customer"
            placeholder="Name of vehicle owner"
          />
        </div>
        <div class="form-group">
          <h3>Dealer</h3>
          <select name="dealer">
            <!-- the value="" will be used in the validation for the non selected options-->
            <option value="">Select Dealer</option>
            <option value="Mohamed Fouad">Mohamed Fouad</option>
            <option value="Farouk Sakr">Farouk Sakr</option>
            <option value="Huda Mohamed">Huda Mohamed</option>
            <option value="Samia Abdelhakem">Samia Abdelhakem</option>
            <option value="Mahmoud Mohamed">Mahmoud Mohamed</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Please rate your dealer</h3>
          <input type="radio" name="rating" value="1" /> 1
          <input type="radio" name="rating" value="2" /> 2
          <input type="radio" name="rating" value="3" /> 3
          <input type="radio" name="rating" value="4" /> 4
          <input type="radio" name="rating" value="5" /> 5
          <input type="radio" name="rating" value="6" /> 6
          <input type="radio" name="rating" value="7" /> 7
          <input type="radio" name="rating" value="8" /> 8
          <input type="radio" name="rating" value="9" /> 9
          <input type="radio" name="rating" value="10" checked /> 10
        </div>
        <div class="form-group">
          <h3>Comments about your experience</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"
          ></textarea>
        </div>
        <button type="submit" class="btn">Submit Your feedback</button>
      </form>
    </div>
  </body>
</html>
